@import '../../../mixins/index.scss';

.game {
  background-color: #c2c2c2;
  padding: 16px;
  @include borders(#999, white);
  .header {
    background-color: #c0c0c0;
    padding: 10px 12px;
    @include borders;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .face {
      width: 52px;
      height: 52px;
      font-size: 35px;
      @include button;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .body {
    margin-top: 16px;
    @include borders;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
  }
}
